html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.title2 {
  color: white;
  font-size: medium;
}
.nav-color {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: rgb(107, 45, 177);
}

.align-column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.margin__big {
  margin: 30px;
}
.ant-layout-header {
  background: rgb(107, 45, 177) !important;
}
.violet {
  background-color: rgb(107, 45, 177);
}
.ant-drawer-body {
  color: rgba(0, 0, 0, 0.85);
}
